<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gakk.noorlibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application

        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"

        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup,android:usesCleartextTraffic">

        <activity
            android:name=".ui.activity.YoutubePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.podcast.PodcastActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.KafelaPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.fragments.hajj.hajjtracker.HajjTrackerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AudioPlayerActionReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.AudioPlayerService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.RozaAlarmService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.RozaAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".service.DownloadService" />
        <service
            android:name=".jobService.RozaAlarmJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".ui.fragments.azan.azan_schedular.SalaatSchedulingService" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9404399068795386~3681559635" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.DetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.QuranSchoolPlayerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SubscriptionBrowserActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PreRegistrationBrowserActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.VideoPlayerHomeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.khatamquran.KhatamQuranVideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.supports_size_changes"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <receiver android:name=".ui.fragments.azan.azan_schedular.NotificationClickReceiver" />

        <receiver
            android:name=".ui.fragments.azan.azan_schedular.NotificaitonDissmissedReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".ui.fragments.azan.azan_schedular.SalaatAlarmReceiver"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.fragments.azan.azan_schedular.PassiveLocationChangedReceiver" />
        <receiver
            android:name=".ui.fragments.azan.azan_schedular.SalaatBootReceiver"
            android:enabled="false"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.com.kchannels.islamicapp.fazilat.azan_scheduler" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gakk.noorlibrary.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".service.VideoPlayerService"
            android:exported="true" />
        <service
            android:name=".service.HajjLocationShareService"
            android:exported="true" />
    </application>

</manifest>